# Privy
NEXT_PUBLIC_PRIVY_APP_ID=cmqvd9wjc004i0cl7lsp10oq6

# Stellar (testnet)
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Contratos (testnet)
NEXT_PUBLIC_TANDA_CONTRACT=CDTXLDZMTOYXLXI254YA2CPKGAURPWRLSC6Z6TS6BQUYCQOJEHQJPFY7
NEXT_PUBLIC_MOCK_VAULT=CB75TJBDT2M543R3VR7NZBXAZMPQUUSPGLOYHEGKQCKHU5R7IKNT4CWW
